
<div class="card">
  <div class="card-header bg-primary">
    Factura
  </div>
  <div class="card-body">
    <div class="row">
        <form class="form-inline ml-auto mr-5">
        <div class="xl-form my-0">
            <input class="form-control" type="text" placeholder="Busque su factura" aria-label="Search" style="width: 1000px;">
        </div>
        <button href="#!" class="btn btn-outline-dark btn-md my-0 ml-sm-2" type="submit">Buscar</button>
        </form>
    </div>
  </div>
</div>
